{% extends "base.html" %}
{% set active_page = 'add_pup' %}
{% block body %}
    <div class="container">
        <article class="page-article mt-10">

            <form action="" method="POST" enctype="multipart/form-data">
                {{ add_form.hidden_tag() }}
                <fieldset>
                    <legend class="text-center mt-2">Create a New Pup</legend>
                    <div class="form-group mb-3">
                        {{ add_form.name.label(class="col-sm-2 col-form-label") }}
                        {% if add_form.name.errors %}
                            {{ add_form.name(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in add_form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ add_form.name(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ add_form.breed.label(class="col-sm-2 col-form-label") }}
                        {% if add_form.breed.errors %}
                            {{ add_form.breed(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in add_form.breed.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ add_form.breed(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>

                    <div class="form-group">
                        {{ add_form.age.label(class="col-sm-2 col-form-label") }}
                        {% if add_form.age.errors %}
                            {{ add_form.age(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in add_form.age.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                        {% else %}
                            {{ add_form.age(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    <div class="form-outline-mb4 form-group">
                        {{ add_form.details.label(class="col-sm-2 col-form-label") }}
                        {% if add_form.details.erors %}
                            {{ add_form.details(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in add_form.details.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ add_form.details(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    <div class="form-outline-mb4 form-group">
                        {{ add_form.picture.label(class="col-sm-2 col-form-label") }}
                        {% if add_form.picture.errors %}
                            {{ add_form.picture(class="form-control-file is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in add_form.picture.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ add_form.picture(class="form-control-file") }}
                        {% endif %}
                    </div>
                    {{ add_form.submit(class="btn btn-primary mt-2 mb-2") }}
                </fieldset>
            </form>
        </article>
    </div>
{% endblock body %}