{% extends "base.html" %}
{% set active_page='login' %}
{% block body %}
    <div class="container">
        <article class="page-article">

            <form action="" method="POST">
                {{ login_form.hidden_tag() }}
                <fieldset>
                    <legend>Add a New Pup Owner</legend>
                    <div class="form-group mb-3">
                        {{ login_form.email.label(class="col-sm-2 col-form-label") }}
                        {% if login_form.email.errors %}
                            {{ login_form.email(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in login_form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ login_form.email(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        {{ login_form.password.label(class="col-sm-2 col-form-label") }}
                        {% if login_form.password.errors %}
                            {{ login_form.password(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in login_form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ login_form.password(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    <div class="row form-group mb-3">
                        <div class="col">
                            {{ login_form.remember(class="form-check-input mt-2") }}
                            {{ login_form.remember.label(class="form-check-label mt-1 ") }}
                        </div>
                        <div class="col">
                            {{ login_form.login(class="btn btn-outline-primary ml-2") }}
                        </div>
                    </div>
                    <div class="row from-group mb-3">
                        <a href="{{ url_for('memberblueprint.add_member') }}"
                           class="col ml-2 login-links">Register Now</a>
                        <a href="{{ url_for('memberblueprint.request_reset') }}"
                           class="col  ml-2 login-links">forgot password?</a>
                    </div>
                </fieldset>
            </form>

        </article>
    </div>
{% endblock body %}
