{% extends "base.html" %}
{% block body %}
    <div class="container">
        <article class="page-article">

            <form action="" method="POST">
                {{ reset_form.hidden_tag() }}
                <fieldset>
                    <legend>Reset Password</legend>
                    <div class="form-group mb-3">
                        {{ reset_form.password.label(class="col-sm-2 col-form-label") }}
                        {% if reset_form.password.errors %}
                            {{ reset_form.password(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in reset_form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ reset_form.password(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    <div class="form-group mb-3">
                        {{ reset_form.verify_password.label(class="col-sm-2 col-form-label") }}
                        {% if reset_form.verify_password.errors %}
                            {{ reset_form.verify_password(class="form-control form-control-md col col-lg-2 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in reset_form.verify_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ reset_form.verify_password(class="form-control form-control-md col col-lg-2") }}
                        {% endif %}
                    </div>
                    {{ reset_form.reset(class="btn btn-outline-primary ml-2") }}
                </fieldset>
            </form>
        </article>
    </div>
{% endblock body %}