.page-article {
    width: 50%;
    margin: 0 auto;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.no-underline:hover {
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 10%;
}