.page-article {
    width: 50%;
    margin: 0 auto;
}

.no-underline {
    text-decoration: none;
    color: white;
}

.no-underline:hover {
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 10%;
}
/*.front-img{*/
/*    max-height: 70%;*/
/*    max-width: 80%;*/
/*    height: 50%;*/
/*    width: 50%;*/
/*    position: center;*/
/*}*/